html,
body {
  margin: 0.5rem;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: large;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cabinsketch {
  font-family: 'Cabin Sketch', cursive;
}
