html,
body {
  margin: 0.5rem;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: larger;
  font-weight: 500;
  background-color: #f2f3f4;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cabinsketch {
  font-family: 'Cabin Sketch', cursive;
}

.app-logo {
  max-width: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pointer-fade:hover {
  cursor: pointer;
  opacity: 0.8;
}
